body {
  width: 550px;
  height: 868px;
  background-color: #23252C;
  font-family: Inter, sans-serif;
  color: white;
  padding: 116px;
  margin: 0;
}

main {
  padding: 25px;
  display: table;
  padding: 35px;
  background-color: #1A1B21;
  width: 247px;
  margin: 0;
  text-align: left;
}

.container {
  background-color: #1A1B21;
  display: table;
  width: 317px;
  height: 780px;
  text-align: center;
}

.headshot {
  height: 317px;
  width: 317px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

h5 {
  color: #F3BF99;

}

.footer {
  background-color: #161619;
}